
.vote {
    min-width: 46px;
    text-align: center;
}

.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on {
    text-indent: -9999em;
    font-size: 1px;
    background-image: url(../images/sprites.svg),none;
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 40px;
    /* height: 40px; */
    margin-bottom: 2px;
}

.vote-up-on {
    background-position: -40px -170px;			
}

.vote-up-off {
    background-position: 0 -170px;			
}

.vote-down-off {
    background-position: 0 -220px;
}

.vote-down-on {
    background-position: -40px -220px;
}

.vote-count-post {
    display: block;
    font-size: 20px;
    margin: 0 0 3px;
}
